---
---

@import "{{ site.theme }}";

details > summary:first-of-type {
    display: list-item;
    cursor: pointer;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 2rem 5rem;
    }
}
